{% extends 'base.html.twig' %}

{% block title %}Test - Blog{% endblock %}

{% block body %}
    <section id="blog" class="container-fluid">
        <h1>Blog</h1>
        <p>Lorem ipsum blog</p>
    </section>
{% endblock %}

